body {
  margin: 0;
  font-display: Roboto, sans-serif;
}

#header {
  background: gray;
  background-image: linear-gradient(to right, #c97303, #db532b, #e02e4e, #d70273, #b9179a);
  max-width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header .avatar img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

#header .vertical-line {
  border-left: 3px solid white;
  height: 350px;
  margin-left: 175px;
}

#header .container {
  padding-top: 30px;
}

.info{
  padding-top: 50px;
}

.info .main-info {
  text-transform: uppercase;
}

.info .main-info .name {
  text-align: center;
  color: white;
  font-size: 45px;
}

.info .main-info .company {
  text-align: center;
  color: gold;
  font-size: 35px;
  margin-top: -70px;
}

.info .contact-info {
  padding-left: 75px;
}

.info i {
  margin-right: 30px;
}

.info .contact-info .link {
  text-decoration: none;
}

.info .contact-info .address {
  color: white;
}

.info .contact-info .phone {
  color: white;
}

.info .contact-info .gmail {
  color: white;
}

.info .contact-info .link:hover {
  transform: scale(1.1);
}

.social {
  text-align: center;
  background: white;
  height: 60px;
  margin-top: 47px;
}

.social .btn {
  display: inline-block;
  background: #dd337a;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;

}

.social .btn i {
  line-height: 35px;
  font-size: 25px;
}

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

#technology-section {
  margin-left: 10%;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-section {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  padding-top: 50px;
}

.technology-logo {
  margin-top: 20px;
  text-align: center;
}

.logo {
  cursor: pointer;
  margin: 50px;
}

.logo:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
  .vertical-line {
    display: none;
  }
}