* {
  margin: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.area-header {
  margin-bottom: 115px;
}

.area-header__cover-img {
  background-image: url(/img/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
}

.inner-area-header {
  position: relative;
}

.inner-area-header__avatar-img {
  position: absolute;
  margin-top: -75px;
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.icon-shield {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: -5%;
  right: 40%;
}

.inner-area-header__avatar-img--round {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.inner-area-header__info {
  position: absolute;
  left: 15%;
}

.inner-area-header__info__name {
  color: #333;
  font-size: 28px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.inner-area-header__info__job{
  color: #666;
}

.inner-area-header__nav {
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.inner-area-header__nav__item {
  color: #333;
  font-weight: bold;
  margin-left: 15px;
}

.area-aboutme p {
  font-size: 18px;
}

.area-footer--bg-3e {
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
}

.area-footer__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.area-footer__contact__item {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .12);
}

.area-footer__contact__item i {
  font-size: 20px;
}

.technologies-item__img {
  width: 100%;
}

h5 a {
  color: inherit;
}

#btnScroll {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00B5E3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.hr {
  border-bottom: 4px solid #00b5e3;
  margin: 0px 0px 20px 0px;
  width: 5rem;
}

#btnScroll i {
  width: 18px;
  height: 18px;
}

.blog__item {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .12);
  margin-bottom: 15px;
}

.item__thumbnail img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-height: 205px;
  object-fit: cover;
}

.blog__title a {
  color: inherit;
}

.blog__title a:hover {
  color: #007bff;
}

.blog__item__body {
  height: 175px;
}

.blog__item__footer {
  border-radius: 0px 0px 10px 10px;
}

.blog-detail__title {
  font-size: 30px;
}

.blog-detail__title a {
  color: #222;
}

.blog-detail__item img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .inner-area-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .inner-area-header__info {
    position: relative;
    left: 0;
    margin-top: 6rem;
  }

  .inner-area-header__nav {
    position: relative;
    margin-top: 0;
  }

  .area-header {
    margin-bottom: 35px;
  }

  .area-header__cover-img {
    background-position: 48%;
  }
}

@media only screen and (min-width: 600px) {
  .inner-area-header__info {
    left: 31%;
  }

  .inner-area-header__nav {
    margin-top: 6rem;
  }

  .area-content {
    padding-top: 2rem;
  }
}


@media only screen and (min-width: 768px) {
  .inner-area-header__info {
    left: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .inner-area-header__info {
    left: 18%;
  }

  .inner-area-header__nav {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  .inner-area-header__info {
    left: 18%;
  }
}

@media only screen and (min-width: 1200px) {
  .inner-area-header__info {
    left: 15%;
  }
}