* {
  margin: 0;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.area-header {
  margin-bottom: 115px;
}

.area-header__cover-img {
  background-image: url(/img/cover_img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
}

.inner-area-header {
  position: relative;
}

.inner-area-header__avatar-img {
  position: absolute;
  margin-top: -75px;
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.icon-shield {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: -1%;
  right: 40%;
}

.inner-area-header__avatar-img--round {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.inner-area-header__info {
  position: absolute;
  left: 15%;
}

.inner-area-header__info__name {
  color: #333;
  font-size: 28px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.inner-area-header__nav {
  position: absolute;
  right: 0;
  margin-top: 15px;
}

.inner-area-header__nav__item {
  color: #333;
  font-weight: bold;
  margin-left: 15px;
}

.area-footer--bg-3e {
  width: 100%;
  background: #eee;
  padding: 2rem;
  margin-top: 3rem;
}

.area-footer__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.area-footer__contact__item {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.area-footer__contact__social {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.technologies-item__img {
  width: 100%;
}

#btnScroll {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00B5E3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.blog__item {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,.12);
}

.item__thumbnail img{
  border-radius: 10px;
  width: 100%;
}

.blog__title a {
  color: black;
}

.blog__title a:hover {
  color: blueviolet;
}

@media only screen and (max-width: 600px) {
  .inner-area-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .inner-area-header__info {
    position: relative;
    left: 0;
    margin-top: 6rem;
  }

  .inner-area-header__nav {
    position: relative;
    margin-top: 0;
  }

  .area-header {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 600px) {
  .inner-area-header__info {
    left: 31%;
  }

  .inner-area-header__nav {
    margin-top: 6rem;
  }

  .area-content {
    padding-top: 2rem;
  }
}


@media only screen and (min-width: 768px) {
  .inner-area-header__info {
    left: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .inner-area-header__info {
    left: 18%;
  }
  .inner-area-header__nav {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  .inner-area-header__info {
    left: 18%;
  }
}

@media only screen and (min-width: 1200px) {
  .inner-area-header__info {
    left: 15%;
  }
}